# Database
DATABASE_URL="file:./dev.db"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Terra
TERRA_API_KEY=""
TERRA_DEV_ID=""
TERRA_WEBHOOK_SECRET=""

# Whoop
WHOOP_CLIENT_ID=""
WHOOP_CLIENT_SECRET=""

# Oura
OURA_CLIENT_ID=""
OURA_CLIENT_SECRET=""

# Fitbit
FITBIT_CLIENT_ID=""
FITBIT_CLIENT_SECRET=""

# Garmin
GARMIN_CONSUMER_KEY=""
GARMIN_CONSUMER_SECRET=""

# Google Fit
GOOGLE_FIT_CLIENT_ID=""
GOOGLE_FIT_CLIENT_SECRET=""
